<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sefricam.sefricam3">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

        <activity
            android:name=".Pantalla_Bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pantalla_LogIn"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pantalla_Menu_Metodos_Y_Captura"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pantalla_Datos_Aves"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pantalla_Datos_Avistamiento"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pantalla_Datos_Entorno"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pantalla_Metodos_Captura"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pantalla_Menu_Intermedio"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Pantalla_Mis_Datos"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pantalla_Mi_Envio"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pantalla_Mi_Cuadricula"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pantalla_Modificacion_Envio"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pantalla_Modificacion_Aves"
            android:screenOrientation="portrait"/>
    </application>

</manifest>